* {
  padding: 0;
  margin: 0;
}

.carrier-carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: -50px;
}

.carrier-carousel .carrier-carousel-list .carrier-carousel-item {
  position: absolute;
  inset: 0 0 0 0;
}

.carrier-carousel .carrier-carousel-list .carrier-carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item
  .carrier-carousel-content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #ffffff;
  text-shadow: 0 5px 10px #0004;
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item
  .carrier-carousel-content
  .carrier-carousel-title {
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 3em;
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item
  .carrier-carousel-content
  .carrier-carousel-detail {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item
  .carrier-carousel-content
  .carrier-carousel-button {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  margin-top: 20px;
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item
  .carrier-carousel-content
  button {
  border: 1px solid #eee;
  background-color: transparent;
  letter-spacing: 3px;
  color: #eee;
}

/*thumbnail*/
.carrier-thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.carrier-thumbnail .carrier-carousel-item {
  width: 300px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  box-shadow: 10px 10px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.carrier-thumbnail .carrier-carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carrier-thumbnail .carrier-carousel-item .carrier-carousel-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.carrier-thumbnail
  .carrier-carousel-item
  .carrier-carousel-content
  .carrier-carousel-title {
  font-weight: bold;
}

/*arrows*/
.carousel-arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel-arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
  transition: 0.5s;
  z-index: 100;
}

.carousel-arrows button:hover {
  background-color: #ffffff;
  color: #555;
}

.carrier-carousel .carrier-carousel-list .carrier-carousel-item:nth-child(1) {
  z-index: 1;
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(1)
  .carrier-carousel-title,
.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(1)
  .carrier-carousel-detail,
.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(1)
  .carrier-carousel-button {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(1)
  .carrier-carousel-title {
  animation-delay: 1s;
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(1)
  .carrier-carousel-detail {
  animation-delay: 0.8s;
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(1)
  .carrier-carousel-button {
  animation-delay: 0.5s;
}

.carrier-carousel.next
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(1)
  img {
  width: 300px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.carrier-carousel.next
  .carrier-thumbnail
  .carrier-carousel-item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 300px;
  }
}

.carrier-carousel.next .carrier-thumbnail {
  transform: translateX(300px);
  animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

/*prev*/
.carrier-carousel.prev
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(2) {
  z-index: 2;
}

.carrier-carousel.prev
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(2)
  img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
  to {
    width: 300px;
    height: 220px;
    border-radius: 20px;
    left: 50%;
    bottom: 50px;
  }
}

.carrier-carousel.prev .carrier-thumbnail .carrier-carousel-item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(2)
  .carrier-carousel-title,
.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(2)
  .carrier-carousel-detail,
.carrier-carousel
  .carrier-carousel-list
  .carrier-carousel-item:nth-child(2)
  .carrier-carousel-button {
  animation: outContent 0.5 1s linear 1s forwards;
}

@keyframes outContent {
  to {
    transform: translateY(-300px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carrier-carousel-time {
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

.carrier-carousel.next .carrier-carousel-time,
.carrier-carousel.prev .carrier-carousel-time {
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
  to {
    width: 0;
  }
}

@media screen and (max-width: 1050px) {
  .carrier-thumbnail {
    display: none;
  }
  @keyframes outImage {
    to {
      width: 300px; /* 이미지 너비를 300px로 줄임 */
      height: 220px; /* 이미지 높이를 220px로 설정 */
      border-radius: 20px; /* 이미지의 테두리에 둥근 모서리 적용 */
      left: 50%; /* 이미지 위치를 가로축 중앙으로 설정 */
      bottom: 50px; /* 이미지 위치를 하단에서 50px 위로 설정 */
      opacity: 0;
    }
  }
}
